@import url('nav.css');
@import url('footer.css');

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.2s linear;
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: #eee;
}

.aaa {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
}

h1 {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: #666;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

.card {
    width: 300px;
    height: 450px;
    border-radius: 18px;
    padding: 10px;
    overflow: hidden;
    position: relative;
}

.poster {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.card:hover .poster::before {
    bottom: 0;
}

.poster img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}

.card:hover .poster img {
    transform: scale(1.1);
}

.details {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 1.5em 1.5em 2em;
    background: rgba(0, 0, 0, 0.67);
    backdrop-filter: blur(16px) saturate(120%);
    transition: bottom 0.3s;
    color: #fff;
    z-index: 2;
}

.card:hover .details {
    bottom: 0;
}

.details h1,
.details h2 {
    font-weight: 700;
}

.details h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.details .desc {
    color: #fff;
    opacity: 0.8;
    line-height: 1.5;
    margin-bottom: 1em;
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}
